@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-family: 'Poppins', sans-serif;
    --primary-color: #361500;
    --dark-primary-color: #1C0A00;
    --light-primary-color: #603601;
    --accent-color: #CC9544;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #757575;
    --red-color: #A51515;
    --green-color: #3a8311;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    z-index: 0;
    height: 7.5rem;
    padding: 0px 110px;
    background-color: var(--primary-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
}

h1 {
    color: var(--primary-text-color);
}

.main-container {
    min-height: calc(100vh - 7.5rem);
    background-color: var(--dark-primary-color);
    padding: 70px 110px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 15.625rem);
    gap: 3.125rem;
}

.book-card {
    height: 21.875rem;
    width: 15.625rem;
    background-color: var(--primary-color);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--light-primary-color);
    border-radius: 16px 4px 4px 16px;
    padding: 1.25rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.status-button-false,
.status-button-true {
    width: 7.813rem;
    color: var(--primary-text-color);
    font-size: 1.125rem;
    font-style: italic;
    padding: 0.313rem 0rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    border-style: none;
}

.status-button-false {
    background-color: var(--red-color);
}

.status-button-true {
    background-color: var(--green-color);
}

.status-button-false:hover,
.status-button-true:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.book-top {
    display: flex;
    justify-content: space-between;
    margin-right: 1.25rem;
}

.delete-button,
.close-form-button {
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-weight: bold;
    border-style: none;
}

.delete-button:hover,
.close-form-button:hover {
    cursor: pointer;
}

.book-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-title {
    font-size: 1.125rem;
    font-style: italic;
    color: var(--primary-text-color);
}

.book-author {
    font-size: 0.875rem;
    color: var(--secondary-text-color);
}

.book-bottom {
    display: flex;
    justify-content: end;
}

.book-pages {
    margin-right: 1.25rem;
    font-size: 0.875rem;
    color: var(--primary-text-color);
}

.add-book-button {
    position: fixed;
    bottom: 60px;
    right: 110px;
    border-style: none;
    background-color: var(--accent-color);
    color: var(--primary-text-color);
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    border-radius: 1rem;
}

.add-book-button:hover {
    cursor: pointer;
    filter: brightness(120%);
}

#form-container {
    z-index: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    padding: 40px;
    border-style: none;
    border-radius: 1rem;
    transform: translate(-50%, -50%);
    background-color: var(--accent-color);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.close-button-container {
    display: flex;
    justify-content: end;
}

#darken-screen {
    z-index: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
}

form {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.input-group>label,
.checkbox-group>label {
    color: var(--primary-text-color);
    font-size: 1.5rem;
}

.input-group>input[type="text"],
.input-group>input[type="number"] {
    border: 2px white solid;
    vertical-align: middle;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 1.125rem;
    color: black;
    width: 100%;
}

.checkbox-group {
    display: flex;
    gap: 20px;
    align-items: center;
}

input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    accent-color: var(--green-color);
}

.submit-button-container {
    display: flex;
    justify-content: center;
}

button[type="submit"] {
    width: fit-content;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-style: none;
    border-radius: 8px;
    background-color: var(--green-color);
    color: var(--primary-text-color);
}

button[type="submit"]:hover {
    cursor: pointer;
    filter: brightness(120%);
}

button[type="submit"]:active {
    filter: brightness(100%);
}

.input-group>input[type="text"]:focus,
.input-group>input[type="number"]:focus {
    outline: none;
    border: 2px var(--secondary-text-color) solid;
}